body{
    font-family:"Lato", sans-serif,"Roboto Mono", monospace;
}
img{
    max-width: 100%;
    height: auto;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.fs-14{font-size: 14px;}
.fs-12{font-size: 12px;}
.fst-roboto{font-family: "Roboto Mono",monospace, sans-serif;}
.fst-lato{font-family: "Lato", sans-serif;}
.icon-nofill{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}